.Ubicacion {
    display: flex;
    justify-content: center;
    margin: 0;
}
.centradoDetail{
    margin-bottom: 180px;
    margin-top: 90px;
}

.CentradoDetailsLoading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}


.ContenedorDetail{
    display: flex;
    justify-content: space-between; 
}

.imagenDetail{
    border-radius: 5px 0px 0px 5px;
    width: 375px;
    height: 375px;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}  

.cuerpo h4{
    padding-bottom: 5px;
}

.cuerpo h5{
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 720px)  {
    .ContenedorDetail{
        flex-direction: column;

    }    
    .centradoDetail{
        margin-bottom: 50px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 435px)  {
    .ContenedorDetail{
        width: 255px;
        height: 535px;
        
    }
    
    .imagenDetail{
        
        width: 255px;
        height: 255px;
    }
    
}
