.Ubicacion {
    display: flex;
    justify-content: center;
    margin: 0;
}

.centradoDetail {
    margin-bottom: 180px;
    margin-top: 90px;
}

.CentradoDetailsLoading {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.ContenedorDetail {
    display: flex;
    justify-content: space-between;
    width: 1350px;
    height: 510px;
    padding: 0px;
}

#espacio1{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#espacio2{
    width: 550px;
    display: flex;
    justify-content: center;
}

#espacio3{
    display: flex;
    flex-direction: column;
    width: 450px;
}

#tittleDetails {
    color: white;
}

.imagenDetail {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 25px;
}

#datosDetail{
    width: 300px;
}

#groupButtons{
    margin-top: 20px;
}
#dropdowncentrado{
    margin-top: 90px;
}

#dropdowncentrado h5{
    padding: 5px 5px;
}

#dropdooown {
    height: 380px;
    width: 475px;
    overflow-y: scroll;
    font-size: 16px; 
}

.imagenesDetails{
    margin-top: 20px;
    height: 468px;
    width: 425px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.imagenesDetailsVacio{
    margin-top: 20px;
    height: 468px;
    width: 425px;
}

#centradoH5{
    position: absolute;
    margin-top: 140px;
}
#centradoH5Dark{
    position: absolute;
    margin-top: 140px;
    color: white;
}
/*------------------------*/

@media screen and (max-width: 1390px) {
    .ContenedorDetail {
        width: 1050px;
    }

    #espacio1{
        width: 250px;

    }
    
    #espacio2{
        width: 450px;

    }
    
    #espacio3{

        width: 350px;
    }

    .imagenDetail {
        width: 200px;
        height: 200px;
        margin-bottom: 25px;
    }

    #datosDetail{
        width: 200px;
    }

    #dropdooown {
        height: 380px;
        width: 375px;
    }

    .imagenesDetails{
        height: 468px;
        width: 325px;
    }

    .imagenesDetailsVacio{
        height: 468px;
        width: 325px;
    }
}

@media screen and (max-width: 1090px) {
    .ContenedorDetail {
        width: 750px;
    }

    #espacio1{
        width: 250px;

    }
    
    #espacio2{
        width: 350px;

    }
    
    #espacio3{

        width: 150px;
    }

    .imagenDetail {
        width: 200px;
        height: 200px;
        margin-bottom: 25px;
    }

    #datosDetail{
        width: 200px;
    }

    #dropdooown {
        height: 380px;
        width: 275px;
    }

    .imagenesDetails{
        height: 468px;
        width: 125px;
    }

    .imagenesDetailsVacio{
        height: 468px;
        width: 125px;
    }
}

@media screen and (max-width: 780px) {
    .ContenedorDetail {
        width: 450px;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #espacio1{
        height: 350px;
    }
    
    #espacio2{
        height: 350px;
        margin-top: 80px;
    }
    
    #espacio3{
        height: 350px;
    }

    .imagenDetail {
        width: 400px;
        height: 400px;
    }

    #datosDetail{
        width: 400px;   
    }

    #dropdooown {  
        height: 380px;
        width: 400px;
    }

    .imagenesDetails{
        height: 300px;
        width: 400px;
        margin-bottom: 20px;
    }

    .imagenesDetailsVacio{
        height: 300px;
        width: 400px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 490px) {
    .ContenedorDetail {
        width: 300px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #espacio1{
        height: 350px;
    }
    
    #espacio2{
        height: 350px;
        margin-top: -60px;
    }
    
    #espacio3{
        height: 350px;
    }

    .imagenDetail {
        width: 250px;
        height: 250px;
    }
    

    #datosDetail{
        width: 250px;   
    }

    #tamañogroupButtons{
        font-size: 15px;
    }

    #dropdooown {  
        height: 380px;
        width: 250px;
    }

    .imagenesDetails{
        height: 300px;
        width: 200px;
    }

    .imagenesDetailsVacio{
        height: 300px;
        width: 200px;
    }
}
